body {
    margin: 40px;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  p{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
  
  }
  .enlaces a{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#23527C;
    list-style-type:none;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  
  }
  
  
  /* Estilo para encabezados */
  h1 {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 39.6px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Estilo para h2 */
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0066cc; /* Color azul para los h2 */
    margin-bottom: 15px;
  }
  
  /* Estilos para el h3 */
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: start;
    letter-spacing: normal;
    color: #575756;
    font-weight: bold;
  }
  
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.8px;
    color: #333333;
  }
  
  
  .item {
    box-sizing: border-box;
    height: auto;
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .item a span {
    bottom: 0;
    box-sizing: border-box;
    line-height: 20px;
    left: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 180px;
    font-size: 20px;
    padding: 10px 20px; /* Ajusté el espaciado interno para mantener la relación de aspecto */
    margin: 5px;
    background-color: #e09f4e;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Quita el subrayado del enlace */
  }
  .item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #e09f4e;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
  }
  .col-lg-2 .item {
    width: 48%; /* Ajusta el ancho de los elementos en columnas */
    margin-right: 4%; /* Agrega un pequeño espacio entre los elementos */
    float: left;
    clear: both;
  }
  .col-lg-2 .item:nth-child(2n) {
    margin-right: 0; /* Elimina el margen derecho del último elemento en cada fila */
  }
  .col-lg-2 h3 {
    color: #575756;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  /* Estilo cuando se pasa el mouse sobre el span */
  
  
  
  @media (max-width: 768px) {
    .span {
      display: flex;
      flex-direction: column;
    }
  }
  
  
  
  
  
  
  
  
  
  
  /* Estilo para párrafos */
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Color gris oscuro */
    margin-bottom: 20px;
  }
  
  .container-fluid{
    padding: 10px;
  }
  
  #top-bar{ 
    background: #221c35; 
    color: #fff;
    display: block; 
    min-height: 32px; 
    width: 100%; 
    max-width: 100%; 
    line-height: 32px; 
    box-sizing: border-box; 
    padding: 0 10px; 
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase; 
    font-size: 12px; 
    margin: 0 auto;
   }
  #top-bar a{ color: #fff; }
  .nivel-2 #top-bar{ background: #a41e34;  }
  
  #top-bar #idiomas{ 
    float: right; 
    min-height: 32px; 
    line-height: 32px; 
    display: block; 
    float: right; 
    text-align: right; 
    margin:0 0 0 20px;
   }
  #top-bar #idiomas li{ 
    float:left;
    margin:0;  
  }
  #top-bar #idiomas li a{ 
    text-transform: uppercase;
    color: #fff; 
    border-right: solid thin #fff; 
    padding: 0 5px; 
    opacity: 0.8; 
    text-decoration: none;
  }
  #top-bar #idiomas li a:hover{ opacity:1; text-decoration: none;}
  #top-bar #idiomas li.activo a{ font-weight: bold; opacity:1;  }
  #top-bar #idiomas li:last-child a{ border: none;  }
  
  #top-bar #buscar{ 
    display: block; 
    float: right; 
    min-height:32px;
    line-height:32px;  }
  
  #top-bar #buscar .boton-buscar{ 
    display: block; 
    float: left; 
    height: 32px; 
    width: 32px; 
    margin-right:5px;
    background:url(../images/boton-lupa.png) top center no-repeat;
   }
  #top-bar #buscar input[type=text]{ 
    height: 20px; 
    width: 110px; 
    line-height: 20px; 
    color: #111; 
    padding: 0 10px; 
  }
  
  .btn-buscar {
      height: 20px;
      vertical-align: middle;
      background: #221c35;
      color: white;
      font-size: 10px;
      margin: auto;
      width: 50px;
      line-height: 1px;
  }
  
  @media (max-width: 992px) {
    .search-bar,
    .language-buttons {
        flex: 0 0 100%; /* Cambia a una columna completa en dispositivos medianos */
    }
  }
  
  
  
  
  
  @media (max-width: 768px) {
    .top-bar {
        flex-direction: column; /* Cambia la dirección del flujo a vertical */
    }
  
    .search-bar {
        margin-bottom: 10px; /* Espaciado entre la barra de búsqueda y los botones de idioma */
    }
  }
  
  
  .external-buttons {
      
        display: flex;
        justify-content: space-between; /* Distribuye los botones al extremo izquierdo y derecho */
        align-items: center;
        margin-top: 20px;
      }
    
  .external-buttons img {
      margin: 20px;
        max-width: 100%; /* La imagen se ajustará al ancho máximo del contenedor */
        height: auto; /* Esto mantiene la proporción de la imagen */
        margin: 0 10px; /* Pequeño margen horizontal entre las imágenes */
      }
  
  /* Estilos para el menú desplegable */
  .dropdown {
      margin: 20px;
      position: relative;
      display: inline-block;
    }
    
    .dropdown-icon {
      cursor: pointer;
      padding: 5px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }
    
    /* Estilos para las subopciones */
    .sub-dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      left: 100%;
      top: 0;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown-toggle::after {
      content: '▼';
      margin-left: 5px;
  }
  
  /* Estilos para el footer */
  
  
  /* Estilos para el slider de imágenes */
  /* ... (código anterior) ... */
  
  /* Estilos para el slider de imágenes */
  .slider-container {
    max-width: 100%; /* Ancho máximo de la ventana gráfica */
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    width: 100%;
    display: flex;
    overflow: hidden;
    /* Ajusta el alto del slider según tu preferencia, por ejemplo: */
    height: 60vh; /* El 60% de la altura de la ventana gráfica */
  }
  
  /* Estilos para las imágenes dentro del slider */
  .slider img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos para los puntos de navegación (dots) */
  .slick-dots {
    position: absolute;
    bottom: 20px; /* Ajusta la posición vertical de los dots */
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px; /* Espaciado entre los dots */
  }
  
  .slick-dots li button {
    font-size: 0; /* Oculta el texto dentro de los dots */
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc; /* Color de los dots inactivos */
    cursor: pointer;
  }
  
  .slick-dots li.slick-active button {
    background-color: #012954; /* Color del dot activo */
  }
  
  
  .markdown-content {
    margin-bottom: 20px; /* Agrega un margen inferior al contenido Markdown */
  }
  
  #carouselExampleIndicators {
    width: 30%;
    height: 100%;
    margin: auto;
  }
  
  #carouselExample .carousel-indicators li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0 5px;
    background-color: transparent;
    border: 1px solid #949494;
    opacity: 1;
  }
  
  #carouselExample .carousel-indicators li.active {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  /* Estilos para las secciones personalizadas */
  .custom-section {
    width: 100%;
    max-width: 1209px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom:0;
  }
  
  
  
  /* Estilos para las columnas personalizadas */
  .custom-col {
    margin-bottom: 20px;
  }
  
  /* Estilos para las imágenes dentro de las secciones */
  .custom-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Media query para dispositivos pequeños (hasta 768px) */
  @media (max-width: 768px) {
    .custom-col {
      flex: 0 0 100%;
    }
  }
  
  .image-caption {
    margin-top: 10px;
    text-align: left;
    margin: 0;
  }
  #hola{
    height: 234px;
    width: 302.328px;
    padding: 0 10px 0 10px;
    min-height: 1px;
  }
  #div-noticias {
    width: auto;
    max-height: 920px; /* Establecer la altura máxima en 300px */
     /* Agregar una barra de desplazamiento vertical si es necesario */
  }
  
  .image-caption a {
    color: #575756;
    text-decoration: none;
    margin: 0;
  }
  
  .custom-section {
    margin-bottom: 5px; /* Puedes ajustar este valor según sea necesario */
  }
  
  #noticias {
    margin-top: 0px; /* Puedes ajustar este valor según sea necesario */
  }
  
  
  
  #idiomas {
    display: flex;
    align-items: center;
    list-style-type: none; /* Quita el punto de la lista */
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  
  #idiomas li {
    display: inline;
    margin-right: 1px; /* Espacio entre los elementos de la lista */
  }
  
  #idiomas li:last-child {
    margin-right: 0; /* Elimina el espacio a la derecha del último elemento */
  }
  
  
  
  .Boton-ingles a, .Boton-espayol a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 32px;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #ffffff !important;
    padding: 0.5px;
    margin-right: 0px; /* Ajusta el espacio interno para los enlaces */
  }
  
  .Boton-espayol a{
    text-align: right;
    height: auto;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    display: inline;
  }
  
  .custom-footer-background {
    background-color: #9C9B9B;
    color: #ffffff; /* Cambia el color del texto si es necesario para que sea legible en el fondo oscuro */
  }
  
  .custom-footer-background a {
    color: #ffffff; /* Color del texto blanco para los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
  }
  
  
  
  
  .icon-facebook,.icon-twitter,.icon-linkedin,.icon-rss,.icon-flickr,.icon-youtube,.icon-instagram,.icon-tiktok{
    background-position: 50% 0%;
    height: 24px;
    width: 24px;
    display:block;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon-facebook{
    background-image: url('/theme/images/asset32.png');
  }
  
  .icon-twitter{
   background-image: url('/theme/images/asset\ 33.png');
  }
  
  .icon-linkedin{
    background-image: url('/theme/images/asset\ 34.png');
  }
  .icon-rss{
    background-image: url('/theme/images/asset\ 35.png');
  }
  
  .icon-flickr{
    background-image: url('/theme/images/asset\ 36.png');
  }
  
  .icon-youtube{
    background-image: url('/theme/images/asset\ 37.png');
  }
  .icon-instagram{
    background-image: url('/theme/images/asset\ 38.png');
  }
  .icon-tiktok{
    background-image: url('/theme/images/asset\ 39.png');
  }
  
  /*CSS para el menu*/
  
  #interes{
    display: inline-block;
  }
  
  /* Estilos para el menú desplegable en pantallas de hasta 1200px de ancho */
  /*Responsive */
  
  #menu-principal{ width: 100%;  margin-top:5px; border-top: solid 2px #a41e34; border-bottom: solid 3px #a41e34; min-height: 0px; height: 30px; line-height: 26px; margin:5px auto 20px; font-family: Montserrat, sans-serif; clear:both; padding-bottom:0px; }
      .nivel-2 #menu-principal{ border-top: solid 2px #221c35; border-bottom: solid 3px #221c35; }
      #menu-principal ul li{ float: left; margin-right: 40px; list-style-type: none; margin-top: 0px; padding-bottom: 0px; height: auto; }
      #menu-principal ul li:last-child{ margin:0;  }
      #menu-principal ul li a{ text-transform: uppercase; font-size: 12px; color: #575756; text-decoration: none;}
      #menu-principal ul li.activo > a{ color: #db912f !important; height: auto;}
      #menu-principal ul li:hover a{ color: #000; height: auto;}
      #menu-principal ul li.home{ margin-right: 14px; padding-left:5px; height: auto; padding-bottom: 5px;  }
      .nivel-2 #menu-principal{ margin:5px auto 10px; height: auto;  }
      
      #menu-principal > ul > li > ul{background-color:#fff;position:absolute;padding:10px 10px 10px;height:0;opacity:0;z-index:1050;overflow:hidden;-webkit-transition:all 0.35s ease-in;-moz-transition:all 0.35s ease-in;-o-transition:all 0.35s ease-in;transition:all 0.35s ease-in; box-shadow: 0px 0px 8px #444; max-width: 500px; overflow: visible; }
      #menu-principal > ul > li > ul { display: none !important; }
      #menu-principal > ul > li:hover > ul { display: block !important; height: auto; }
      #menu-principal > ul > li > ul li{min-width:0;/*268px;*/  clear: none; border-bottom: solid thin #ccc; width: 100%;  }
      #menu-principal > ul > li > ul li:last-child{ border: none;  }
      #menu-principal > ul > li > ul li > a { border: none;  clear: none;  color: #fff;  display: block;  font-size: 13px;  font-weight: bold;  padding: 4px;  text-align: left;
        text-transform: none; color: #6F6F6E; }
      #menu-principal > ul > li > ul li > a:hover, #menu-superior > div > ul > li > ul li.current-menu-item > a, #menu-superior > div > ul > li > ul li.current-menu-ancestor > a{color:#F0B600; opacity: 1 !important; background:#fff;border-bottom-color:#1C1C1B;text-decoration:none;}
      #menu-superior > div > ul > li > ul > li > ul{display:none;width:85%;position:absolute;margin:-34px 0 0 85%;background-color:#FFF;border:1px solid #E8E8E8;z-index:1075;padding:0 10px 10px; z-index:9999; }
      #menu-principal > ul > li > ul > li > ul li a{font-size:12px !important;padding:8px !important;}
      .submenu-button{ cursor: pointer; }
      #menu-principal > ul > li > ul > li > ul li a{ padding: 2px 8px !important;  }
      
      @media only screen and (min-width:1200px){
        #menu-principal > ul > li > ul > li > ul li ul{display:none !important;}
        #menu-principal > ul > li > ul > li > ul{ display: none !important; margin-left:20px;  }
        #menu-principal > ul > li > ul > li:hover > ul{ height:auto; display: block !important;  position: absolute; margin-left: 60px; background: #fff; box-shadow: 0px 0px 8px #444; }
        #menu-principal > ul > li > ul > li:hover{ height: auto; display: block; }
        #menu-principal > ul > li:hover > ul{height:auto;opacity:1;border:1px solid #E8E8E8;}
      }
      
      #menu-button{ font-family: Montserrat,sans-serif !important; text-transform: uppercase; color: #000; cursor: pointer;  text-transform: uppercase;   background: url(../images/asset\ 31.png) right center no-repeat; display: none; }
      @media only screen and (max-width:1300px){
        #interes.col-lg-2 .item a span{ font-size: 17px;  }
        #header #titulo {  box-sizing: border-box;  clear: both;  float: none;  margin: auto;  max-width: 95%;  padding: 0;  width: 100%; text-align:center; padding-bottom:20px; }
        #header #titulo h1 {  border: medium none;  height: auto;  margin: 0;  max-width: 100%;  padding: 15px 0;  width: auto; display: inline-block; float: none; line-height: 106px; height: 106px; padding: 0; }
      }
      
      @media only screen and (max-width:1250px){
        #header #logos{ background: none;}
        #header  h2.seccion{ color: #575756;  }
        
      }
      
      
      @media only screen and (max-width:1200px){
        #contenido-video{ margin-bottom:30px; }
        #interes.col-lg-2 .item a span{ font-size: 20px;  }
        #sidebar #servicios-recursos .icon-info { height: 20px; }
        
        
      }
      
      
      @media only screen and (max-width:1200px){
        #menu-principal > ul > li:hover > ul, #menu-principal > ul > li:hover > ul, nav.menu-horizontal > ul > li:hover > ul, .menu-horizontal > ul > li:hover > ul{ height:auto;display: none !important; }
        #menu-principal > ul > li ul{ box-shadow:none !important; position: static; width: 100%; display: none !important; border: none; }
        #menu-principal > ul > li ul.open{ display: block !important; opacity: 1 !important;  height: auto; }
        #menu-principal > ul > li > ul.open > li > ul.open{ padding-left: 20px; }
        #menu-principal > ul > li ul{ display: block;  }
        nav.menu-horizontal > ul > li .submenu-button {  background: url(../images/down.png) top center no-repeat;  display: block;  float: right;  height: 20px; width: 20px; margin-right:22px; background-size: 10px; background-position: 10px 10px; position: absolute; right: 10px; }
        nav.menu-horizontal > ul > li > ul > li .submenu-button{ right: 15px; }
        nav.menu-horizontal > ul > li > ul > li >ul > li .submenu-button{ right: 20px; }
        
        
        nav.menu-horizontal > ul > li:hover > ul, .menu-horizontal > ul > li:hover > ul{ display: none !important; }
        nav.menu-horizontal > ul > li ul{ box-shadow:none !important; position: static; width: 100%; display: none !important; border: none; }
        nav.menu-horizontal > ul > li ul.open{ display: block !important; opacity: 1 !important;  height: auto; }
        nav.menu-horizontal > ul > li > ul.open > li > ul.open{ padding-left: 20px; }
        nav.menu-horizontal > ul > li ul{ display: block;  }
        nav.menu-horizontal > ul > li .submenu-button {  background: url(../images/down.png) top center no-repeat;  display: block;  float: right;  height: 20px; width: 20px; margin-right:22px; background-size: 10px; background-position: 10px 10px; position: absolute; right: 10px; }
        nav.menu-horizontal > ul > li > ul > li .submenu-button{ right: 15px; }
        nav.menu-horizontal > ul > li > ul > li >ul > li .submenu-button{ right: 20px; }
        nav.menu-horizontal ul li{ float: none; border-top: solid thin #ccc; width:100%; }
        
        nav#menu-principal > ul > li:hover > ul, #menu-principal > ul > li:hover > ul{ display: none !important; }
      nav#menu-principal > ul > li ul{ box-shadow:none !important; position: static; width: 100%; display: none !important; border: none; }
      nav#menu-principal > ul > li ul.open{ display: block !important; opacity: 1 !important;  height: auto; }
      nav#menu-principal > ul > li > ul.open > li > ul.open{ padding-left: 20px; }
      nav#menu-principal > ul > li ul{ display: block;  }
      nav#menu-principal > ul > li .submenu-button {  background: url(../images/down.png) top center no-repeat;  display: block;  float: right;  height: 20px; width: 20px; margin-right:22px; background-size: 10px; background-position: 10px 10px; position: absolute; right: 10px; }
      nav#menu-principal > ul > li > ul > li .submenu-button{ right: 15px; }
      nav#menu-principal > ul > li > ul > li >ul > li .submenu-button{ right: 20px; }
      nav#menu-principal ul li{ float: none; border-top: solid thin #ccc; width:100%;height: auto; }
      #menu-principal ul{
        list-style-type: none;
      }
      #menu-principal{
        height: auto;
      }
      #menu-principal > ul > li > ul{ max-width:100% !important; }
      }
      
      @media only screen and (max-width:1120px){
        
        #menu-principal ul li{ float: none; clear: both; border-top: solid thin #ccc; width:100%; }
        #menu-principal ul {  margin-bottom:0; }
        #header h2.seccion{ position: static; width: 100%; margin: 0 auto 30px; clear: both; }
        
      }
      
      @media only screen and (max-width:990px){
        .nivel-2 #contenido-texto.col-lg-6{ min-height: 0; }
        .nivel-2 #contenido-texto.col-lg-6{ border: none; padding: 0 10px; }
      }
      
      @media only screen and (max-width:900px){
        #footer-right{ 
        /*float: left; */
        margin-top:0px; clear: both; }
        #footer .redes-sociales {	padding: 10px 0 0; }
      }
      
      @media only screen and (max-width:750px){
        --section#slider{ display: none; }
          #header #titulo h1 { font-size: 25px; line-height: normal; height: auto; padding: 10px 0; }
      }
      
      @media only screen and (max-width:680px){
        
        #footer #menu-footer {  clear: both;  float: none;  padding-bottom: 15px;  padding-top: 20px;  width: 100%; }
        #footer #logo-footer{ float: left; }
        #header{ margin-top:30px; }
      }
      
      @media only screen and (max-width:650px){
        #footer-bar{ min-height: 130px; line-height: normal; }
      }
      
      @media only screen and (max-width:460px){
        #top-bar{ min-height: 70px; }
      }
      
      @media only screen and (max-width:400px){
        #header #logos #logo, #logos #logo-ceia3{ margin: auto; text-align:center; padding: 0; }
        #header #logos #logo img{ width: 100%; height: auto; padding-top:20px;  }
        #header #logos img{ max-width: 150px;  }
        .nivel-3 #header #logos #logo img{ padding-top:20px; }
        #header #titulo img { display: block;  margin: auto; }
      }
      
      @media only screen and (max-width:350px){
        #menu-principal ul li a{ font-size: 11px;  }
      }
  /*Responsive*/
  /*Css seccion destacados*/
   .titulo {  background: #a41e34;  color: #fff;  display: block;  float: left;  font-size: 12px;  height: 20px;  line-height: 20px;  margin-left: 10px;  margin-top: -30px;  padding: 0 5px;  position: absolute;  text-transform: uppercase;font-family: 'Montserrat',sans-serif;font-weight: normal; }
    #agenda,#ciencia{ background: #221c35; }
  
  #ruta a,span{
    font-family: 'Montserrat',sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: #9C9B9B;
  }
  
  .sangrias{
    padding-left: 30px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 30px;
  }
  
  
  
  #instrucciones{
    margin-bottom: 10px;
  }
  
  em{
    font-style: italic;
    font-size: 14px;
    padding-left: 60px;
    font-family: 'Montserrat',sans-serif;
  }
  
  #contenido table{ max-width: 100%; margin: 20px 0 30px; display: table; }
  #contenido table th, #contenido table td{ border: solid thin #239e2d; padding: 10px;  }
  #contenido table th{ background: #239e2d; color: #fff; font-weight: bold; border: solid thin #fff;  }
  #contenido table thead th, #contenido table tfoot th{ background: #239e2d; color: #fff; font-weight: bold; border: solid thin #fff; border-top: solid thin #239e2d; border-bottom: solid thin #239e2d; }
  #contenido table thead th:first-child, #contenido table tfoot th:first-child{ border-left: solid thin #239e2d; }
  #contenido table thead th:last-child, #contenido table tfoot th:last-child{ border-right: solid thin #239e2d; }
  
  table, table.table-responsive{ display: table; }
  table td, table th{ display: table-cell !important; }
  table thead, table tbody{ width: 100% !important; }
  table tr{ display: table-row !important; width: 100% !important; }
  table, #contenido table { display: table !important; }
  .col-sm-3{
  padding-left: 10px;  padding-right: 10px;
  }
  @media only screen and (max-width:1200px){
  #primeratabla{
      height: 170px;
      width: 539.156px;
      padding: 0 10px 0 10px;
      position: relative;
      }
    .table-responsive{
      border:1px solid #DDDDDD
    }
  #segundatabla{
    height: 260px;
    width: 539.156px;
    padding: 0 10px 0 10px;
    position: relative;
    }
  }
  
  /*-------------------------------*/
  
  .cita-previa-cont a{
    float: left;
    text-decoration: none !important;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    line-height: 32px;
  
  }
  /* Estilos generales para la sección principal */
  #principal {
    box-sizing: border-box;
    padding: 0;
  }
  
  /* Estilos específicos para el contenido */
  #contenido {
    display: flex;
  }
  
  #contenido-texto {
    flex: 1;
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
  }
  
  #contenido-texto p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  
  #contenido-texto h1 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color:#333333;
  }
  
  #contenido-video {
    flex: 1;
    padding: 25px 0 0; /* Ajuste para alinear con el h1 */
    text-align: center;
  }
  
  #contenido-video img {
    max-width: 100%;
  }
  
  #contenido-video iframe {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilos para el contenido general y listas */
  #contenido,
  #contenido p,
  #contenido li {
    font-family: 'Lato' !important;
    line-height: 20px;
  }
  
  #contenido > ul,
  #contenido div > ul,
  #contenido > ol,
  #contenido div > ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #contenido ul > li,
  #contenido ul > li ul > li {
    list-style-type: disc;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  #contenido h3 {
    font-size: 16px;
  }
  
  #contenido ul,
  #contenido ol {
    padding-left: 20px;
  }
  
  #contenido ol > li {
    list-style-type: decimal;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .interesCol{
      --z-index: 10 !important;
  }
  
  /*SEARCH*/
  .ais-search-box {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .post-item {
    margin-bottom: 30px;
  }
  .post-link .ais-Highlight {
    color: #111;
    font-style: normal;
    text-decoration: underline;
  }
  .post-breadcrumbs {
    color: #424242;
    display: block;
  }
  .post-breadcrumb {
    font-size: 18px;
    color: #424242;
  }
  .post-breadcrumb .ais-Highlight {
    font-weight: bold;
    font-style: normal;
  }
  .post-snippet .ais-Highlight {
    color: #2a7ae2;
    font-style: normal;
    font-weight: bold;
  }
  .post-snippet img {
    display: none;
  
  }
  #footer-right{ float: right; }
  #footer-right #logo-footer{ float: left; }
  #footer-right .redes-sociales{ float: left; }
  ul.redes-sociales>li>a {
    filter: brightness(150%);
  }
  
  #footer .redes-sociales{ float:right; display: block; min-height:24px; width: auto; padding: 18px 0; margin-bottom:0;  }
  #footer .redes-sociales li {  display: block;  float: left;  padding: 0 3px; }
  #footer .redes-sociales li a, .icon-facebook, .icon-twitter, .icon-linkedin, .icon-flickr, .icon-rss, .icon-youtube, .icon-googleplus, .icon-picassa, .icon-vimeo, .icon-blogger, .icon-tumblr, .icon-twitter2{ display: block; height: 24px; width: 24px; }
  
  
  #footer{ display: block; width: 100%; max-width: 100%; min-height: 60px; line-height: 60px;  height: auto; box-sizing: border-box; padding: 0 10px; margin: 0 auto 50px; box-sizing: border-box; min-height: 60px; line-height: 60px;  }
  #footer #footer-bar{  padding: 0 10px; width: 100%; background: #221c35;  }
  #footer #menu-footer, #footer .menu-footer{ color: #fff; width: auto; display: inline-block; line-height: 20px; padding: 20px 0;  }
  #footer #menu-footer > ul{ margin-bottom: 0;  }
  #footer #menu-footer li{ display: inline-block; margin: 0px; line-height: 20px;  }
  #footer #menu-footer li::after{ content:" Â· "; }
  #footer #menu-footer li:last-child::after{ content:""; }
  #footer #menu-footer a, #footer #menu-footer a span, #footer .menu-footer a, #footer .menu-footer a span{ color: #fff; display: inline-block;  font-size: 12px; text-decoration: none;}
  
  
  .imagen_contenido_noticia{
    text-align: center;
  }
  
  .imagen_contenido_noticia img {
    display: block;
    margin: 0 auto;
    width: 600px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto;
  }
  
  .pie_contenido_noticia {
    text-align: center;
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
    text-decoration: none;
  }
  
  .itemIntroText{
    text-align: justify;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
  .wrapper {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }
  
  .wrapper header {
    display: flex;
    align-items: center;
    padding: 15px 20px 10px; /* Ajusta el padding según tus necesidades */
    justify-content: space-between;
  }
  
  header .icons span {
    height: 28px; /* Reducido el tamaño */
    width: 28px; /* Reducido el tamaño */
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 28px; /* Reducido el tamaño */
    font-size: 1.5rem; /* Reducido el tamaño */
    user-select: none;
    border-radius: 50%;
  }
  
  header .current-date {
    font-size: 1.2rem; /* Reducido el tamaño */
  }
  
  .calendar {
    padding: 10px; /* Ajusta el padding según tus necesidades */
  }
  
  .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  
  .calendar .days {
    margin-bottom: 10px; /* Ajusta el margen según tus necesidades */
  }
  
  .calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.9rem; /* Reducido el tamaño */
  }
  
  .calendar .weeks li {
    font-weight: 500;
    cursor: default;
  }
  
  .calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 20px; /* Ajusta el margen según tus necesidades */
  }
  
  .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 20px; /* Reducido el tamaño */
    width: 20px; /* Reducido el tamaño */
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .days li.active::before {
    background: #9B59B6;
  }
  
  .days li:not(.active):hover::before {
    background: #f2f2f2;
  }
  
  .texto_noticia{
    text-align: justify;
  }
  .texto_noticia h3{
    font-family: "Lato";
    font-size: 18px;
    text-align: justify;
    color:#444444;
  }
  #breadcrumbs{
   text-decoration: none;
   font-family: "Montserrat, sans-serif";
   font-size: 15px;
   line-height: 14.2857px;
   color:#9C9B9B
  }
  
  #breadcrumbs a{
    color:#7D6CAE;
    text-decoration: none;
  }
  
  .itemTitle{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color:#342563;
  }
  
  .itemAuthor{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#333333;
  }
  
  .itemDateCreated{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    line-height: 20px;
    color:#999999;
  }
  
  .pie_contenido_noticia{
    font-size: 15px;
    line-height: 20px;
    color:#666666;
  }
  
  .icon-info {
    background: url('/theme/images/icon-info.png');
    width: 22.5625px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block; /* Asegura que el span tenga dimensiones */
    float: left;
    margin: 0 10px 0 0;
  }
  
  .servicios_recursos{
    background-color: #342563;
    height: 60px;
    width: 282.328px;
    padding: 15px 15px 15px 15px;
    min-height: 55px;
    display: flex;
  }
  
  .servicios_recursos a{
    text-decoration: none;
    color:#ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
  }
  
  /*CSS calendario*/
  
  .calendar-container {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(182, 182, 182);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .navigation-button {
    height: 25px;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation-button:hover {
    background-color: #e0e0e0;
  }
  
  .weekdays-container {
    display: flex;
    justify-content: space-around;
    padding: 8px 8px 12px;
  }
  
  .weekday {
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
  }
  
  .month-year-display {
    text-align: center;
    font-size: 14px;
    padding: 8px;
  }
  
  .days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    padding: 8px;
    
  }
  
  .day {
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #eeeeee00;
  
  }
  
  .day:hover {
    background-color: #e0e0e0;
  }
  
  .secciones-noticias{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    background-color: #342563;
    color: #ffffff;
    height: 30px;
    width: 268.328px;
    padding: 5px 10px 5px 10px;
    display: block;
  }
  
  .convocatorias{
    margin-top:20px ;
    height: 390px;
    width: 267px;
    margin: 0 0 30px 0;
  }
  
  .enlaces-secciones{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17.1429px;
    text-decoration: none;
    background-color: #ffffff;
    color: #2e2556;
    height: auto;
    width: auto;
    display: inline;
    transition: color 0.3s;
    margin: 0 0 5px 0;
  }
  
  .enlaces-secciones:hover{
    text-decoration: none solid rgb(35,82,124);
    color: #23527C;
  }
  
  .item-secciones{
    border-bottom: 1px solid #A1A0A0;
  }
  
  .convocatorias-container {
    height: 390px; /* Altura fija del contenedor padre */
    width: 282px;
    overflow-y: auto; /* Agregar deslizamiento vertical */
    margin-bottom: 20px;
  }
  
  .noticias-interes{
    height: 28.0781px;
    width:282.328px;
    border-bottom: 1px solid #CCCCCCCC;
    padding: 0px 5px 0px 10px;
    display: block;
  }
  
  .enlaces-interes{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 15.7143px;
    text-decoration: none solid rgb(88,87,87);
    color: #585757;
    height: auto;
    width: auto;
    display: inline;
  }
  
  .secciones-noticias#interes{
    width: 282px;
  }
  
  .container-enlinea{
    margin-bottom: 20px;
  }
  
  .InfoAdd{
    height: 37.8906px;
    width: 877px;
    border-top: 1px dotted #DDDDDD;
    margin: 16px 0 0 0;
    padding: 8px 0 0 0;
  }
  
  .InfoAdd h3{
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 20.9px;
    color: #604c9a;
  }
  
  .ultfechamodificada span{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #999999;
    height: auto;
    width: auto;
    display: block;
  }
  
  .hastag{
    margin-top: 20px;
  }
  .hastag span{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #555555;
    height: auto;
    width: auto;
    display: block;
    padding: 0 4px 0 0;
    text-decoration: none solid rgb(85,85,85);
    
  }
  
  .hastag a{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #7D6CAE;
    height: auto;
    width: auto;
    display: inline;
  }
  
  .hastag a :hover{
    color: #897ab4;
  }
  
  .itemTags {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none solid rgb(51, 51, 51);
    color: #333333;
    height: auto;
    width: auto;
    margin: 20px 0 20px 0;
    padding: 0 0 0 20px;
    display: inline;
    list-style-type: none;
    list-style-position: outside;
  }
  
  .itemTags li {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    color: #333333;
    height: auto;
    width: auto;
    margin: 0 0 10px 15px;
    padding: 0 4px 0 5px;
    display: inline;
    list-style-type: none; /* Cambiado a none para quitar los puntos */
    list-style-position: outside;
  }
  
  .itemRelated, .itemNavigation {
    width: 877px;
    margin: 0 0 24px 0;
    display: block;
  }
  
  .itemRelated h3, .itemRelated li, .itemNavigationTitle, .itemNavigation a {
    font-family: Montserrat, sans-serif;
  }
  
  .itemRelated h3 {
    font-size: 19px;
    font-weight: 500;
    line-height: 20.9px;
    text-decoration: none solid rgb(96,76,154);
    text-transform: uppercase;
    color: #604c9a;
    margin: 20px 0 10px 0;
  }
  
  .itemRelated li, .itemNavigation a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none solid rgb(51,51,51);
    color: #333333;
    margin: 0 0 0px 15px;
    padding: 2px 2px 2px 5px;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
  }
  
  .itemNavigation {
    background-color: #fafafa;
    color: #333333;
    height: 76px;
    padding: 8px 8px 8px 8px;
  }
  
  .itemNavigationTitle {
    font-size: 14px;
    text-decoration: none solid rgb(153,153,153);
    color: #999999;
  }
  
  .itemNavigation a {
    text-decoration: none solid rgb(125,108,174);
    color: #7D6CAE;
    padding: 0 12px 0 12px;
    display: inline;
  }
  
  .itemRelated a{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none solid rgb(125,108,174);
    color: #7D6CAE;
    height: auto;
    width: auto;
  }
  
  .itemBackToTop {
    width: 877px;
    display: block;
    text-align: right;
  }
  
  .k2Anchor {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: underline solid rgb(125,108,174);
    color: #7D6CAE;
    display: inline;
  }
  
  .k2Anchor:hover {
    text-decoration: none;
  }
  
  .texto_noticia a{
    color: #7D6CAE;
    text-decoration: none solid rgb(125,108,174);
  }
  
  .texto_noticia table{
    height: 174px;
    width: 566px;
    margin: 20px 0 30px 0;
    max-width: 100%;
    display: table;
  }
  
  .texto_noticia td,th{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: justify;
    height: 71px;
    width: 207.594px;
    border: 1px solid #7D6CAE;
    padding: 10px 10px 10px 10px;
    display: table-cell;
    border-collapse: collapse;
  
  }
  
  .calendarCurrentMonth{
    height: 33.7891px;
    width: 167.773px;
    border: 1px solid #F4F4F4;
    padding: 2px 2px 2px 2px;
    display: table-cell;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    color: #333333;
    background-color: #fafafa;
  }
  
  .calendarNavMonthPrev{
    height: 33.6632px;
    width: 33.507px;
    border: 1px solid #F4F4F4;
    padding: 2px 2px 2px 2px;
    display: table-cell;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    border-collapse: collapse;
    background-color: #fafafafa;
  }
  
  .calendarNavMonthNext{
    height: 33.6632px;
    width: 33.507px;
    border: 1px solid #F4F4F4;
    padding: 2px 2px 2px 2px;
    display: table-cell;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    border-collapse: collapse;
    background-color: #fafafa;
  }
  
  .calendarNavLink{
    height: auto;
    width: auto;
    display: inline;
    font-size: 20px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    text-decoration: none solid rgb(35,82,124);
    color: #333333;
  }
  
  .calendar{
    height: 166.768px;
    width: 234.618px;
    margin: 0 25px 0 25px;
    display:table;
    border-collapse: collapse;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-decoration: none solid rgb(51,51,51);
  }
  
  .calendarDayName{
    background-color: #e9e9e9;
    height: 20.816px;
    width: 33.3507px;
    border: 1px solid #F4F4F4;
    padding: 2px 2px 2px 2px;
    display: table-cell;
  }
  
  .calendarDate{
    text-align: center;
    vertical-align: middle;
    height: 22.23px;
    width: 33.3507px;
    border: 1px solid #F4F4F4;
  }
  
  .calendarDate a{
    text-decoration: none solid rgb(255,255,255);
  }
  .calendarDate:hover{
    background-color: #135cae;
    color: #ffffff;
  }
  .calendarDate a:hover{
    color: #ffffff;
  }
  .container-calendar {
    height: 190px;
    width: 285px;
    margin: auto; /* Centrar horizontalmente */
    margin-top: 8px; /* Agregar un margen superior */
    display: block;
    margin-right: 80px; /* Desplazar hacia la izquierda */
  }
  
  .current-day {
    background-color: #135cae; 
    color: #ffffff; 
  }
  
  .titulofiltradas {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none solid rgb(52,37,99);
    height: 60px;
    width: 877px;
    padding: 10px 0 4px 0;
    display: block;
  }
  .titulofiltradas a{
    color: #7D6CAE;
    height: auto;
    width: auto;
    display: inline;
    text-decoration: none solid rgb(125,108,174);
  }
  
  .genericItemCategory{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none solid rgb(51,51,51);
    color: #333333;
    height: auto;
    width: auto;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
  }
  
  .genericItemCategory span{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none solid rgb(85,85,85);
    color: #555555;
    height: auto;
    width: auto;
    padding: 0 4px 0 0;
  }
  
  .genericItemCategory a{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none solid rgb(125,108,174);
    color: #555555;
    height: auto;
    width: auto;
    color: #7D6CAE;
    display: inline;
  }
  
  #lugar{
    border-right: 1px solid #CCCCCCCC;
  }
  
  .itemContainer {
    margin-bottom: 40px; /* Ajusta el espacio entre cada artículo */
  }
  
  .elementosfiltrados{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none solid rgb(51, 51,51);
    height: 20px;
    width: 877px;
    display: block;
    color: #333333;
    margin-top: 20px;
  }
  
  .resultados_busqueda{
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none solid rgb(51,51,51);
    color: #333333;
    height: 33px;
    width: 977.781px;
    margin: 20px 0 10px 0;
    display: block;
  }
  .item-busqueda li{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
   
    height: 20px;
    width: 930.281px;
    display: block;
    margin-bottom: 10px;
  }
  
  .item-busqueda a{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-decoration: none solid rgb(0, 0, 204);
    color: #4E7496;
    height: auto;
    width: auto;
    display: inline;
  }